<style>
    body {
        background-color: powderblue!important;
    }
    
    .no {
        text-align: center;
        margin-top: 70px;
        top: 50px;
    }
    
    .no1 {
        text-align: center;
    }
    
    .bold {
        color: orangered;
        text-decoration: aqua;
    }
</style>
{% extends "base.html" %} {% block title %}Search{% endblock title %} {% block body %}
<section class="text-gray-700 body-font overflow-hidden">
    <h1 class="no"><b>Search Results : {{query}} </b></h1>
    {% if upload_1|length == 0 %}
    <h1 class="no1"><b>No Results </b></h1>
    <h3 class="no1">Your search - <b class="bold">{{query}}</b> - did not match any documents. </h3><br><br>
    <h1 class="no1">

        <b>

           Suggestions:
       </b>
    </h1>

    <ul class="no1">
        <li>
            Try different keywords.

        </li>

    </ul>
    {% endif %} {% for item in upload_1 %}

    <div class="container px-5 py-24 mx-auto">
        <div class="-my-8">
            <div class="py-8 flex flex-wrap md:flex-no-wrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">

                    <img src="{{item.pictures}}" alt="">
                    <span class="tracking-widest font-medium title-font text-gray-900">Hospital : {{item.Name}}</span>
                    <span class="tracking-widest font-medium title-font text-gray-900">Doctor : {{item.Doctor}}</span>
                    <span class="tracking-widest font-medium title-font text-gray-900">Doctor of : {{item.Doctor_of}}</span>
                    <span class="mt-1 text-gray-500 text-sm">Timing : {{item.Timing}}</span>
                    <span class="mt-1 text-gray-500 text-sm">Contact : {{ item.Contact}}</span>
                    <span class="mt-1 text-gray-500 text-sm">Contact</span>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Bitters hashtag waistcoat fashion axe chia unicorn</h2>
                    <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.
                    </p>

                </div>
            </div>

        </div>
    </div>
    {% endfor%}
</section>
{% endblock body %}