<style>
    body {
        background-color: aqua!important;
    }
    
    .no {
        text-align: center;
        margin-top: 70px;
        top: 50px;
    }
    
    .no1 {
        text-align: center;
    }
    
    .bold {
        color: orangered;
        text-decoration: aqua;
    }
</style>
{% extends "base.html" %} {% block title %}Shop Search{% endblock title %} {% block body %}
<section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <h1 class="no"><b>Search Results : {{query}} </b></h1>
        {% if data1|length == 0 %}
        <h1 class="no1"><b>No Results </b></h1>
        <h3 class="no1">Your search - <b class="bold">{{query}}</b> - did not match any documents. </h3><br><br>
        <h1 class="no1">

            <b>

           Suggestions:
       </b>
        </h1>

        <ul class="no1">
            <li>
                Try different keywords.

            </li>

        </ul>
        {% endif %} {% for item in data1 %}

        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest"><b>Shop Name : </b>{{item.Shop_name}}</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4"><b>Area : {{item.Area}}</b></h1>
                <div class="flex mb-4">
                    <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Description : </a>

                </div>
                <p class="leading-relaxed mb-4">{{item.Shop_discription}}</p>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500"><b>Product Name</b></span>
                    <span class="ml-auto text-gray-900">{{item.Product_name}}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">City</span>
                    <span class="ml-auto text-gray-900">{{item.city}}</span>
                </div>
                <div class="flex border-t border-b mb-6 border-gray-300 py-2">
                    <span class="text-gray-500">State</span>
                    <span class="ml-auto text-gray-900">{{item.State}}</span>
                </div>
                <div class="flex border-t border-b mb-6 border-gray-300 py-2">
                    <span class="text-gray-500">Phone</span>
                    <span class="ml-auto text-gray-900">{{item.Phone_no}}</span>
                </div>
                <div class="flex border-t border-b mb-6 border-gray-300 py-2">
                    <span class="text-gray-500">State</span>
                    <span class="ml-auto text-gray-900">{{item.state}}</span>
                </div>
                <div class="flex">
                    <form action="/Map" method="get">
                        <span class="title-font font-medium text-2xl text-gray-900"><input type="hidden" name="value1" id="value1" value="{{item.State}}"> </span>
                        <span class="title-font font-medium text-2xl text-gray-900"> <input type="hidden" name="value2" id="value2" value="{{item.city}}"> </span>
                        <span class="title-font font-medium text-2xl text-gray-900"><input type="hidden" name="value3" id="value3" value="{{item.Area}}"> </span>
                        <button type="submit" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Map</button>
                    </form>
                    <!-- <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
              </svg>
            </button>-->
                </div>
            </div>
            <img alt="ecommerce" class="lg:w-1/2 w-half lg:h-200 h-64 object-cover object-center rounded" src="{{item.pic_product}}">
        </div>
        <hr> <br>{% endfor%}
    </div>
</section>{% endblock body %}